In [26]:
student1 = {
  'first_name' : "Sirri",
  'last_name' : "Cataloglu",
  'index_number' : 34854,
}
print(student1)

{'first_name': 'Sirri', 'last_name': 'Cataloglu', 'index_number': 34854}

In [27]:
thelist= ["banana","watermelon","lemon"]
for x in thelist:
    print(x)

banana
watermelon
lemon

In [36]:
class People:
    def __init__(self,name,surname,student_id):
        self.name = name
        self.surname = surname
        self.student_id = student_id
        
student1= People("berke","haliloglu","35274")
student2= People("sirri","cataloglu","34854")
student3= People("sandu","nurbolat","35176")   

print(student1.name , student1.surname , student1.student_id)
print(student2.name , student2.surname , student2.student_id)
print(student3.name , student3.surname , student3.student_id)

berke haliloglu 35274
sirri cataloglu 34854
sandu nurbolat 35176

In [29]:
weight= 78.5
print(type(weight))

<class 'float'>

In [30]:
age= 20
print(age)

20

In [31]:
name= "Sirri"
print(name)

Sirri

# 1 on 1